#main-nav {
  width: 100%;
  z-index: 3;
  
    #menu-main-nav{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;

      li {
        text-align: right;
        border-bottom: 1px solid #b89df0;
        a {
          padding: padding(2);
          font-family: 'Thunder';
          // font-size: 110px;
          font-size: f-clamp(rem(60), rem(70),rem($fontScaleStop), rem($fontScaleBreak));
          line-height: f-clamp(rem(76), rem(80),rem($fontScaleStop), rem($fontScaleBreak));
        }

      }
    }

}
