#ticker-style-one-container {
  // height: 100vh;
  // position: relative;
  // left: 0vw;

}
.ticker-style-one {
  // position: relative;
  // // height: 30px;
  // overflow: hidden;
  // z-index: 33;
  cursor: pointer;
  // padding: padding(2) 0 padding(1) 0;

}
ul.list.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}

ul.list {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: red;

  li {
    float: left;
    padding-left: 20px;
    p {
      font-size: f-clamp(rem(60), rem(70),rem($fontScaleStop), rem($fontScaleBreak));
      line-height: f-clamp(rem(69), rem(62),rem($fontScaleStop), rem($fontScaleBreak));
      // font-family: "Thunder";
    }
  }
}
